body{min-width: 360px;}
.container-fluid {background-color: black;font-family: Montserrat;}
.fundo {background: #f7f4ea;}
.fundo2 {background: #F8F9FA;}
.logo1 {
	margin-right: 60px;
	font-size: 20px;
	letter-spacing: 3px;
	color: #231F20; 
}
.index1 {background-color: #f7f4ea;margin: auto;}
.index2 {background-color: #F8F9FA;margin: auto;}
.insta1 {
	font-weight: bold;
	background : #E12F67; /* Old browsers */
	background: -webkit-gradient(linear, 333 0, 0 337, from(#8043af), color-stop(0.029, #8442aa), color-stop(0.029, #8740a9), color-stop(0.042, #8842a8), color-stop(0.059, #8d3fa7), color-stop(0.067, #8d41a4), color-stop(0.164, #9d3d9c), color-stop(0.164, #9f3c9a), color-stop(0.202, #a63b96), color-stop(0.202, #a73a97), color-stop(0.23, #a83b96), color-stop(0.23, #aa3a92), color-stop(0.253, #ac3990), color-stop(0.312, #b63a8b), color-stop(0.35, #b93a88), color-stop(0.35, #bb3986), color-stop(0.374, #bc3986), color-stop(0.374, #be3884), color-stop(0.397, #c03a83), color-stop(0.403, #c13c83), color-stop(0.412, #c4397f), color-stop(0.443, #c63b7a), color-stop(0.469, #ca3d75), color-stop(0.475, #cb3c75), color-stop(0.494, #ca3e74), color-stop(0.494, #cc3d74), color-stop(0.503, #ce3e75), color-stop(0.503, #cf3d74), color-stop(0.591, #d84466), color-stop(0.591, #d94367), color-stop(0.904, #ef6744), color-stop(0.951, #f26a43), color-stop(0.951, #f26c42), color-stop(0.978, #f3703f), color-stop(0.978, #f46f40), color-stop(0.997, #f57041), color-stop(0.997, #f47141), to(#f47141));
	background: -webkit-linear-gradient(225.34206029135854deg, #8043af, #8442aa 2.9%, #8740a9 2.9%, #8842a8 4.2%, #8d3fa7 5.9%, #8d41a4 6.7%, #9d3d9c 16.4%, #9f3c9a 16.4%, #a63b96 20.2%, #a73a97 20.2%, #a83b96 23%, #aa3a92 23%, #ac3990 25.3%, #b63a8b 31.2%, #b93a88 35%, #bb3986 35%, #bc3986 37.4%, #be3884 37.4%, #c03a83 39.7%, #c13c83 40.3%, #c4397f 41.2%, #c63b7a 44.3%, #ca3d75 46.9%, #cb3c75 47.5%, #ca3e74 49.4%, #cc3d74 49.4%, #ce3e75 50.3%, #cf3d74 50.3%, #d84466 59.1%, #d94367 59.1%, #ef6744 90.4%, #f26a43 95.1%, #f26c42 95.1%, #f3703f 97.8%, #f46f40 97.8%, #f57041 99.7%, #f47141 99.7%, #f47141);
	background: -moz-linear-gradient(225.34206029135854deg, #8043af, #8442aa 2.9%, #8740a9 2.9%, #8842a8 4.2%, #8d3fa7 5.9%, #8d41a4 6.7%, #9d3d9c 16.4%, #9f3c9a 16.4%, #a63b96 20.2%, #a73a97 20.2%, #a83b96 23%, #aa3a92 23%, #ac3990 25.3%, #b63a8b 31.2%, #b93a88 35%, #bb3986 35%, #bc3986 37.4%, #be3884 37.4%, #c03a83 39.7%, #c13c83 40.3%, #c4397f 41.2%, #c63b7a 44.3%, #ca3d75 46.9%, #cb3c75 47.5%, #ca3e74 49.4%, #cc3d74 49.4%, #ce3e75 50.3%, #cf3d74 50.3%, #d84466 59.1%, #d94367 59.1%, #ef6744 90.4%, #f26a43 95.1%, #f26c42 95.1%, #f3703f 97.8%, #f46f40 97.8%, #f57041 99.7%, #f47141 99.7%, #f47141);
	background: -o-linear-gradient(225.34206029135854deg, #8043af, #8442aa 2.9%, #8740a9 2.9%, #8842a8 4.2%, #8d3fa7 5.9%, #8d41a4 6.7%, #9d3d9c 16.4%, #9f3c9a 16.4%, #a63b96 20.2%, #a73a97 20.2%, #a83b96 23%, #aa3a92 23%, #ac3990 25.3%, #b63a8b 31.2%, #b93a88 35%, #bb3986 35%, #bc3986 37.4%, #be3884 37.4%, #c03a83 39.7%, #c13c83 40.3%, #c4397f 41.2%, #c63b7a 44.3%, #ca3d75 46.9%, #cb3c75 47.5%, #ca3e74 49.4%, #cc3d74 49.4%, #ce3e75 50.3%, #cf3d74 50.3%, #d84466 59.1%, #d94367 59.1%, #ef6744 90.4%, #f26a43 95.1%, #f26c42 95.1%, #f3703f 97.8%, #f46f40 97.8%, #f57041 99.7%, #f47141 99.7%, #f47141);
	background: linear-gradient(224.65793970864146deg, #8043af, #8442aa 2.9%, #8740a9 2.9%, #8842a8 4.2%, #8d3fa7 5.9%, #8d41a4 6.7%, #9d3d9c 16.4%, #9f3c9a 16.4%, #a63b96 20.2%, #a73a97 20.2%, #a83b96 23%, #aa3a92 23%, #ac3990 25.3%, #b63a8b 31.2%, #b93a88 35%, #bb3986 35%, #bc3986 37.4%, #be3884 37.4%, #c03a83 39.7%, #c13c83 40.3%, #c4397f 41.2%, #c63b7a 44.3%, #ca3d75 46.9%, #cb3c75 47.5%, #ca3e74 49.4%, #cc3d74 49.4%, #ce3e75 50.3%, #cf3d74 50.3%, #d84466 59.1%, #d94367 59.1%, #ef6744 90.4%, #f26a43 95.1%, #f26c42 95.1%, #f3703f 97.8%, #f46f40 97.8%, #f57041 99.7%, #f47141 99.7%, #f47141);
}
.text {
	text-align: center;
	height: 0;
	position: relative;
	bottom:130px;
	text-shadow:0 0 40px #080c15, 2px 0 40px #080c15, -2px 0 40px #080c15, 0 2px 40px #080c15, 0 -2px 40px #080c15, 1px 1px #080c15, -1px -1px 1px #080c15, 1px -1px 1px #080c15, -1px 1px 1px #080c15;
	z-index: 1;
}
.text h3 {color: #F8F9FA;}
.text p {color: #f7f4ea;}
.text2 {display: none; text-align: center;}
.pagin {display:table; margin: 20px auto;}
#contact {text-align:center;margin-bottom: 40px;}
#contact p {letter-spacing:2px;}
#contact h2 span {
	max-width: 90%;
	padding:3px 30px;
	font-size:40px;
	border-bottom:0.5px;
	border-bottom:solid;
	border-color:#dee1e5;
	letter-spacing:10px;
	color:#231F20;
}
.contact {margin:10px 120px 20px 0;padding-bottom:20px;border-bottom: 2px solid #dee1e5}
.contact h4 {letter-spacing: 3px;margin-bottom: 20px;}
#albuns h2 span {
	max-width: 90%;
	padding:6px 10px 6px 0;
	margin-left: 10px;
	font-size:40px;
	border-bottom:0.5px;
	border-bottom:solid;
	border-color:#dee1e5;
	letter-spacing:10px;
	color:#231F20;
}
.image {width: 500px;float:right;}
.image img {max-width: 100%; border: 1px solid #dee1e5; padding: 3px;}
.footer1 {background-color: #F8F9FA;color: #686868;padding-bottom: 30px;}
.footerL {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-variant: small-caps;
	letter-spacing: 2px;
	font-family: Estrangelo Edessa;
}
.footerL span {font-size: 22px;}
.footerR {
	margin: auto;
	width: 275px;
	color: #231F20;
	text-align: left;
	font-family: Estrangelo Edessa;
}
.footerR2 {margin: 4px 0; padding-left: 55px;}
.footerR2 img {width: 18px; height: 20px;}
.footerR2 a{letter-spacing: 2px; padding-left: 45px;; display: block;}
.footerR2 a:hover {text-decoration: none;}
.footerR3 {margin-top: 30px;text-align: center;}
.view {padding: 5px 15px 10px 15px}
.view img {
	max-width: 100%;
	display: block;
	margin:15px 15px;
	margin-right: auto;
	margin-left: auto;
	border: 5px solid white;
	background: white; 
	border-radius: 2px;
	box-shadow: 1px 1px 3px #ccc; 
	-webkit-box-shadow: 1px 1px 3px #ccc; 
}
@media only screen and (max-width: 991px) {
	.image {float:left;margin: 5px;width: 99%;}
	.image img {width:99%;}
	.contact {max-width: 300px;margin:10px auto 20px auto;}
	.text h3 {font-size: 23px;}
	.text p {font-size: 16px;}
}
@media only screen and (max-width: 768px) {
	.text h3 {font-size: 19px;}
	.text p {font-size: 13px;}
}
@media only screen and (max-width: 550px) {
	.logo1 {margin-right: 0px;}
	.text {display: none;}
	.text2 {display: block;}
	.text2 h3 {font-size: 17px;}
	.text2 p {font-size: 13px;}
}
@media only screen and (max-width: 395px) {
	#contact span {padding: 5px 0;}
}
